---
title: "clov3r.com | <3 your site"
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1 class="animated fadeInDown"><%= data.global.site_name %></h1>
      <h2 class="animated fadeInUp"><%= data.global.hero_intro %></h2>
    </div>
  </div>
</div>

<div class="logo-box">
    <%= image_tag 'logo.jpg' %>
</div>

<div class="l-container">
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>About us</h2>
        <p>Peterson Masonry is a family owned and operated business. With 45+ years of experience we take extreme pride in our old approach and the fact that we pay such close attention to detail in each and every project.  From design to final product, we ensure the highest level of quality craftsmanship along with the highest level of communication! </p>
        </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Services</h2>
        <p>From concept to delivery, Peterson Masonry offers stone veneer installation, stone fire pits, stone fireplaces, wood burning fireplaces, gas fire places, pizza ovens, out-door kitchens, stone BBQ's, stone bars, chimney rebuild/repair, armor stone, flag stone, brick, block, stone, re-pointing, parging, etc.  We offer the highest quality of work and the materials we use are always reasonably priced. Our business is fully insured and we are backed with plenty of references from satisfied customers.  The Peterson name is among the leaders of quality masons in North GA.</p>
      </div>
    </li>
  </ul>
</div>

<div class="l-grid-container">
  <h1 class="title">You choose</h1>
  <ul>
    <li><%= image_tag 'thumb/02.jpg' %></li>
    <li><%= image_tag 'thumb/03.jpg' %></li>
    <li><%= image_tag 'thumb/04.jpg' %></li>
    <li><%= image_tag 'thumb/05.jpg' %></li>
    <li><%= image_tag 'thumb/06.jpg' %></li>
    <li><%= image_tag 'thumb/07.jpg' %></li>
    <li><%= image_tag 'thumb/08.jpg' %></li>
    <li><%= image_tag 'thumb/09.jpg' %></li>
    <li><%= image_tag 'thumb/011.jpg' %></li>
    <li><%= image_tag 'thumb/012.jpg' %></li>
    <li><%= image_tag 'thumb/013.jpg' %></li>
    <li><%= image_tag 'thumb/014.jpg' %></li>
  </ul>
</div>

<div class="l-container">
  <div class="contact">
    <h1>Contact us</h1>
    <div class="col">
      <p>Phone: 706-506-5285</p>
      <p>Fax:706-243-4220</p>
    </div>
    <div class="col">
      <p><%= mail_to 'aaron@petersonmasonry.com', 'Email Aaron' %></p>
      <p>Rome, GA</p>
    </div>
  </div>
</div>

<div class="l-clov3r">
  <p>
    made with <3 by <a href="http://www.clov3r.com" target="_blank">clov3r</a>
  </p>
</div>
